body {
  text-align: center; 
  background: url("https://s-media-cache-ak0.pinimg.com/236x/24/db/a5/24dba5263fef2868e92127239f209cf8.jpg");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}

hr {
	width: 200px;
}