body {
  text-align: center;
  background: url("https://static1.squarespace.com/static/53444f0fe4b0a085d643a2a2/t/54ff7aebe4b07456ddf8777e/1426029296759/hanging+herbs");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;

hr {
	width: 200px;
}