@import url('https://fonts.googleapis.com/css?family=Linden+Hill|Over+the+Rainbow');

body {
  text-align: center; 
  background-color: #F0F8FF;
  color: #black;
  font-family: Helvetica;
}

h1 {
	text-align: center;
  	font-family: 'Over the Rainbow', cursive;
  	font-size: 36px;
}

p {
	text-align: center;
	font-family: 'Linden Hill', serif;
	font-size: 20px;
}
