body {
  text-align: center; 
  background: url("https://s-media-cache-ak0.pinimg.com/564x/88/95/97/889597751a0f9f8aa472200efc2f7c19.jpg");
  background-size: cover;
  color: #ffffff;
  font-family: Helvetica;
}

hr {
	width: 250px;
}